<!DOCTYPE html>
<html>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
    <script src="~/Scripts/MvcGrid/mvc-grid.js" type="text/javascript"></script>
    @RenderBody()
</body>
</html>